.bgText{background: url(../images/bg.jpg) no-repeat;background-position: center center;background-color: #464646;background-size: cover;background-clip: text;color: transparent;}

.css-jfo9gg {
    background-color: #12213A;
}


/* Scrollbar Track */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background: #34506c; /* Color of the thumb */
    border-radius: 6px; /* Roundness of the thumb */
  }
  
  /* Scrollbar Track Background */
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color of the track */
  }
  